# EPSY 5200: Programming for Social Science Researchers
## Assignment 11
### Due Tuesday, December 1 by 2:30pm

#### Problem 0

If you've made it to this document, you likely already did Problem 0 from the readme.  But just in case, here it is again!

a) Let's watch some videos! I recommend all the videos in this series (for future learning), but we will just focus on two now. Watch the first half of this video (https://www.youtube.com/watch?v=_NrSWLQsDL4&list=PLRqwX-V7Uu6ZF9C0YMKuns9sLDzK6zoiV&index=3) -- just the part about forking, you can ignore pull requests!  Then watch this video:
https://www.youtube.com/watch?v=yXT1ElMEkW8&list=PLRqwX-V7Uu6ZF9C0YMKuns9sLDzK6zoiV&index=6 (you don't have to do the terminal git commands, you can use the clone strategy we used in class)

b) Using what you learned in 0a, **fork** my GitHub repository (remote repo) to your own account, then **clone** to your hard drive (local repo) using GitKraken (or use the command-line if you want the extra challenge).  After finishing EACH problem below, make sure to STAGE and COMMIT with a comment (e.g., "Just finished Part 1! Git is fun!" or whatever).  Then PUSH back to GitHub.

###### Note on privacy!

By default, GitHub repos are public (promoting open source sharing of code), but of course you are more than welcome to make your code for this assignment private, as is your right!  Unfortunately, it's a little bit complicated because GitKraken recently made a change that the free version of their software doesn't allow for private repo access, and you need the paid version.  So here are 3 ways to do this privately:

1) GitKraken partners with GitHub to provide a free pack of resources (including the pro version of GitKraken) for *students*.  That's you!  So you can sign up here *only if you want to do this*: https://education.github.com/pack?utm_source=github+gitkraken

2) Just keep your GitHub repo public while you're working on this project.  Use free GitKraken.  Then switch the GitHub repo to Private only when you're done using GitKraken to push to GitHub.

3) Keep the repo private and use the terminal git commands in the YouTube video for Problem 0a.

To make the repo private:
On your GitHub repo, go to Settings > Manage Access > Manage (under Public Repository) > Change Visibility.  Then add me (jkbye) as a 'collaborator' so I can see it: Settings > Manage Access > Invite a Collaborator (green button) > add 'jkbye'.

#### Problem 1

Now let's get to Jupyter!

a) Import any helpful libraries in this Jupyter Notebook.

b) Load the *MA_Public_Schools_2017.csv* file as a pandas data frame.  Note: these data are from Kaggle: https://www.kaggle.com/ndalziel/massachusetts-public-schools-data and I have already removed a lot of columns.

c) Adapt the example code in the chunk below to replace all spaces in column names with underscores. This is good practice in order to not cause problems with functions that don't allow spaces in variable names (e.g., **smf.ols**).

d) Adapt the code from 1c to replace "%" sign with "Perc", because it is also good practice not to start column names with symbols.

e) Find the descriptives for numeric columns.

f) Commit your changes and push to GitHub!

In [7]:
#Problem 1
import numpy.random as npr
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats
import statsmodels.formula.api as smf

In [8]:
Sch = pd.read_csv('MA_Public_Schools_2017.csv')
Sch.head()

,School Code,School Name,School Type,Town,State,Grade,District Name,District Code,PK_Enrollment,K_Enrollment,...,Number of Students,Salary Totals,Average Salary,FTE Count,In-District Expenditures,Total In-district FTEs,Average In-District Expenditures per Pupil,Total Expenditures,Total Pupil FTEs,Average Expenditures per Pupil
0,10505,Abington High,Public School,Abington,MA,"09,10,11,12",Abington,10000,0,0,...,451.0,9489496.0,74662.0,127.0,23365711.18,1939.0,12050.39,27229100.8,2051.8,13270.84
1,10003,Beaver Brook Elementary School,Public School,Abington,MA,"01,02,03,04",Abington,10000,0,0,...,643.0,9489496.0,74662.0,127.0,23365711.18,1939.0,12050.39,27229100.8,2051.8,13270.84
2,10002,Center Elementary School,Public School,Abington,MA,"PK,K",Abington,10000,69,134,...,208.0,9489496.0,74662.0,127.0,23365711.18,1939.0,12050.39,27229100.8,2051.8,13270.84
3,10405,Frolio Middle School,Public School,Abington,MA,"07,08",Abington,10000,0,0,...,342.0,9489496.0,74662.0,127.0,23365711.18,1939.0,12050.39,27229100.8,2051.8,13270.84
4,10015,Woodsdale Elementary School,Public School,Abington,MA,"05,06",Abington,10000,0,0,...,334.0,9489496.0,74662.0,127.0,23365711.18,1939.0,12050.39,27229100.8,2051.8,13270.84

In [11]:
# starter code for 1c -- replace school_data w/ your dataframe name
Sch.columns = Sch.columns.str.replace(' ', '_') # notice this replaces the 1st argument w/ the 2nd
Sch.head()

,School_Code,School_Name,School_Type,Town,State,Grade,District_Name,District_Code,PK_Enrollment,K_Enrollment,...,Number_of_Students,Salary_Totals,Average_Salary,FTE_Count,In-District_Expenditures,Total_In-district_FTEs,Average_In-District_Expenditures_per_Pupil,Total_Expenditures,Total_Pupil_FTEs,Average_Expenditures_per_Pupil
0,10505,Abington High,Public School,Abington,MA,"09,10,11,12",Abington,10000,0,0,...,451.0,9489496.0,74662.0,127.0,23365711.18,1939.0,12050.39,27229100.8,2051.8,13270.84
1,10003,Beaver Brook Elementary School,Public School,Abington,MA,"01,02,03,04",Abington,10000,0,0,...,643.0,9489496.0,74662.0,127.0,23365711.18,1939.0,12050.39,27229100.8,2051.8,13270.84
2,10002,Center Elementary School,Public School,Abington,MA,"PK,K",Abington,10000,69,134,...,208.0,9489496.0,74662.0,127.0,23365711.18,1939.0,12050.39,27229100.8,2051.8,13270.84
3,10405,Frolio Middle School,Public School,Abington,MA,"07,08",Abington,10000,0,0,...,342.0,9489496.0,74662.0,127.0,23365711.18,1939.0,12050.39,27229100.8,2051.8,13270.84
4,10015,Woodsdale Elementary School,Public School,Abington,MA,"05,06",Abington,10000,0,0,...,334.0,9489496.0,74662.0,127.0,23365711.18,1939.0,12050.39,27229100.8,2051.8,13270.84

#### Problem 2

a) Remove the District Code column.

b) Create a new column called "TOTAL_Enrollment" that is the sum of all columns that end in "Enrollment".

c) Compute the mean of "TOTAL_Enrollment" for each District. (Hint: groupby)

d) Commit your changes and push to GitHub!

In [34]:
# Problem 2 code here 
Sch2 = Sch.drop(['District_Code'], axis = 1)
Sch2.head()

,School_Code,School_Name,School_Type,Town,State,Grade,District_Name,PK_Enrollment,K_Enrollment,1_Enrollment,...,Number_of_Students,Salary_Totals,Average_Salary,FTE_Count,In-District_Expenditures,Total_In-district_FTEs,Average_In-District_Expenditures_per_Pupil,Total_Expenditures,Total_Pupil_FTEs,Average_Expenditures_per_Pupil
0,10505,Abington High,Public School,Abington,MA,"09,10,11,12",Abington,0,0,0,...,451.0,9489496.0,74662.0,127.0,23365711.18,1939.0,12050.39,27229100.8,2051.8,13270.84
1,10003,Beaver Brook Elementary School,Public School,Abington,MA,"01,02,03,04",Abington,0,0,125,...,643.0,9489496.0,74662.0,127.0,23365711.18,1939.0,12050.39,27229100.8,2051.8,13270.84
2,10002,Center Elementary School,Public School,Abington,MA,"PK,K",Abington,69,134,0,...,208.0,9489496.0,74662.0,127.0,23365711.18,1939.0,12050.39,27229100.8,2051.8,13270.84
3,10405,Frolio Middle School,Public School,Abington,MA,"07,08",Abington,0,0,0,...,342.0,9489496.0,74662.0,127.0,23365711.18,1939.0,12050.39,27229100.8,2051.8,13270.84
4,10015,Woodsdale Elementary School,Public School,Abington,MA,"05,06",Abington,0,0,0,...,334.0,9489496.0,74662.0,127.0,23365711.18,1939.0,12050.39,27229100.8,2051.8,13270.84

In [37]:
Sch2.keys()
Sch2.filter(regex = 'Enrollment$', axis = 1).head()
Sch2['TOTAL_Enrollment'] = Sch2.filter(regex = 'Enrollment$', axis = 1).sum(axis = 1)

In [53]:
Sch2.groupby('District_Name')['TOTAL_Enrollment'].mean()

District_Name
Abby Kelley Foster Charter Public (District)            2850.000000
Abington                                                 766.400000
Academy Of the Pacific Rim Charter Public (District)    1054.000000
Acton-Boxborough                                        1241.777778
Acushnet                                                 955.000000
                                                           ...
Winthrop                                                 985.500000
Woburn                                                   841.454545
Worcester                                               1132.400000
Worthington                                              120.000000
Wrentham                                                1031.000000
Name: TOTAL_Enrollment, Length: 410, dtype: float64

#### Problem 3

a) Visualize each bivariate relationship among Average_Class_Size, Average_Salary, Perc_Economically_Disadvantaged, and Perc_English_Language_Learner.  Use the Seaborn function **pairplot**.  The argument to `pairplot` should be `school_data[['Average_Class_Size', 'Average_Salary', 'Perc_Economically_Disadvantaged', 'Perc_English_Language_Learner']]`, which will just pull those columns out from the full data frame.

b) Describe what you see from the plots.

c) Based on your observations from 3b, and as a completely post-hoc, exploratory analysis, choose one of the 4 measures from 3a to be an outcome variable, and a second measure to be a predictor variable.  Then run a linear regression, print the *summary*, and write a sentence interpreting the results (does not need to be detailed, just practice retrieving the relevant info on predictor significance, etc.)

d) Commit your changes and push to GitHub!

In [ ]:
# Problem 3 code here (can split into multiple code chunks if you want)

#### Problem 4

a) Create a new linear regression model that takes the model from 3c and adds both of the remaining variables from 3a as additional predictor variables.  To do this, the formula interface would look like `"outcome_name ~ predictor1_name + predictor2_name + predictor3_name"`

b) Print the summary from 4a, and write a short interpretation of the results, especially comparing it to Problem 3c.  

c) Add School_Type as another predictor to your model.  Interpret the new predictor in your output.  How is it different from the other predictors?

d) Commit your changes and push to GitHub!

In [ ]:
# Problem 4 code here (can split into multiple code chunks if you want)

#### Problem 5

a) Adapt your **pairplot** code from 3a to add the following argument:
`hue="School_Type"`

b) Describe what changes in the pairplots, and what it represents.

c) Commit your changes and push to GitHub!

In [ ]:
# Problem 5 code here (can split into multiple code chunks if you want)

#### Problem 6

a) Save this Jupyter notebook as an HTML file (File > Download As > HTML) into your local repository (this folder). By default, Jupyter may put your HTML file in your default Downloads folder (wherever that is) -- if that happens, just manually move the file into this repo folder.

b) Stage, commit, and push all changes to your GitHub repository.

c) Submit a link to your repository as your submission for the assignment on Canvas. Remember the note from Problem 0: you can keep your repo private and add me as a collaborator.